<?xml version="1.0" encoding="utf-8"?>
<!--PlatformTransactionManager
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--log4net配置-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!--Sprint.Net配置-->
    <sectionGroup name="spring">
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      <!--<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>-->
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc4" />
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="multiLanguageGroup">
      <section name="multiLanguageSection" type="Cnway.MultiLanguages.MLanguageSection, Cnway.MultiLanguages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LHCDC_Platform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="SpringOverrideProperty" type="System.Configuration.NameValueSectionHandler" />
    <!--Ext.Net设置-->
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>
  <!--多语言配置节点-->
  <multiLanguageGroup>
    <multiLanguageSection connectionString="SqlConn" tableName="S00_Languages" defaultLanguage="CN" sessionKey="CurrentLanguage" organizationalColumn="Applicability" keyColumn="KeyCode">
      <languages>
        <clear />
        <add name="CN" columnName="SimplifiedChinese" />
        <add name="TC" columnName="TraditionalChinese" />
        <add name="EN" columnName="English" />
      </languages>
    </multiLanguageSection>
  </multiLanguageGroup>
  <!--Ext.Net设置-->
  <extnet theme="Default" />
  <spring>
    <objects xmlns="http://www.springframework.net" />
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <context>
      <resource uri="config://spring/objects" />
      <resource uri="assembly://LHCDC_Platform/LHCDC_Platform.Configs/Dal.xml" />
      <resource uri="assembly://LHCDC_Platform/LHCDC_Platform.Configs/Bll.xml" />
      <!--<resource uri="assembly://LHCDC_Platform/LHCDC_Platform.Configs/Controllers.xml" />-->
    </context>
  </spring>
  <SpringOverrideProperty>
    <add key="NamingStrategy.TableHead" value="" />
    <!-- 0 to 6 (1 Debug 4 Error)-->
    <add key="SystemInit.IsDebug" value="true" />
    <add key="SystemInit.Level" value="4" />
    <add key="MappingAssemblies" value="DirectCenter.Model,DirectCenter.Model" />
    <!--databaseSettings-->
    <add key="db.datasource" value="140.200.0.250\sql2008r2" />
    <add key="db.database" value="LHCDC_Platform" />
    <add key="db.user" value="sa" />
    <add key="db.password" value="cnwayer@1234" />
    <add key="db.maxpoolsize" value="512" />
    <!--<add key="db.datasource" value="140.200.0.249"/>
    <add key="db.database" value="ohes_pro"/>
    <add key="db.user" value="sa"/>
    <add key="db.password" value="cnwayer@1234"/>-->
  </SpringOverrideProperty>
  <databaseSettings>
    <add key="db.server" value="140.200.0.250\sql2008r2" />
    <add key="db.database" value="LHCDC_Platform" />
    <add key="db.user" value="sa" />
    <add key="db.password" value="cnwayer@1234" />
    <add key="db.maxpoolsize" value="512" />
  </databaseSettings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory" />
    <add key="SqlConn" value="Data Source=140.200.0.250\sql2008r2;Initial Catalog=LHCDC_Platform;User ID=sa;Password=cnwayer@1234;Enlist=true;Pooling=true;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300;user id=sa;packet size=1000" />
    <!--<add key="SqlOutProject" value="Data Source=140.200.0.250\sql2008r2;Initial Catalog=OHES_lj;User ID=sa;Password=cnwayer@1234" />-->
    <add key="PlatformName" value="疾控信息管理平台" />
    <add key="PlatformEName" value="Cnway Information Management Platform for CDC" />
    <!--默认每页显示记录数-->
    <add key="PageSize" value="100" />
  </appSettings>
  <log4net>
    <!--日志记录到数据库的配置-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <connectionString value="Data Source=140.200.0.250\sql2008r2;Initial Catalog=LHCDC_Platform;User ID=sa;Password=cnwayer@1234" />
      <!--<commandText value="INSERT INTO S00_SystemLogs ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)" />-->
      <commandText value="" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>
    <!--滚动日志文件的配置-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM-dd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="/****************[Start]****************/%newline[Date]:%date%newline[Thread]:[%thread]%newline[Level]:%-5level%newline[Logger]:%logger%newline[Client]:%username%newline[Exception]:%exception%newline/****************[End]******************/%newline" />-->
        <conversionPattern value="%d [%r] [%t] %-5p %c  - %m%n%n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="AdoNetAppender" />
    </root>
    <logger name="Logger">
      <level value="ERROR" />
    </logger>
  </log4net>
  <system.web>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />

      <add path="GetReport.ashx" verb="*" type="Cnway.Reports.Core.GetReportHandler, Cnway.Reports" />
    </httpHandlers>
    <httpModules>
      <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate4" />
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    <compilation targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="Lang" type="Cnway.MultiLanguages.MLanguageExpressionBuilder, Cnway.MultiLanguages" />
      </expressionBuilders>
    </compilation>
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Ext.Net" />
        <add namespace="Ext.Net.Utilities" />
      </namespaces>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
    </pages>

    <httpRuntime maxRequestLength="102400" />
  </system.web>
  <location path="Reports/GetReport.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!---spring net  nhibernate sesion 自动加载必须设置次节点（ISS服务器必须配置）-->
      <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate4" />
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
      <add name="GetReportHandler" path="GetReport.ashx" verb="*" type="Cnway.Reports.Core.GetReportHandler, Cnway.Reports" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".json" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="text/json" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="index.php" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.40000" newVersion="2.0.1.40000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Data" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.40000" newVersion="2.0.1.40000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.40000" newVersion="2.0.1.40000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="b9a188c8922137c6" culture="neutral" />
        <codeBase version="3.5.0.0" href="bin\3.5\Newtonsoft.Json.dll" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Web" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.40000" newVersion="2.0.1.40000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <LHCDC_Platform.Properties.Settings>
      <setting name="LHCDC_Platform_cn_com_webxml_www_WeatherWebService"
        serializeAs="String">
        <value>http://www.webxml.com.cn/WebServices/WeatherWebService.asmx</value>
      </setting>
    </LHCDC_Platform.Properties.Settings>
  </applicationSettings>
</configuration>
